html, body {
    height: 100%;
    margin: 0;
}

#map {
    height: 100vh;
    width: 100%;
    padding-top: 56px;
}

.leaflet-container {
    background: #111;
}

.leaflet-popup-content {
    font-size: 14px;
}

.stadium-hero-img {
    height: 420px;
    object-fit: cover;
}

.card {
    border-radius: 14px;
}

.card:hover {
    transform: scale(1.01);
    transition: 0.2s;
}